<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
		<!-- Register the Configuration section used for BotDetect Traditional API -->
		
		<section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
		
	</configSections>
  <appSettings>
<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>
   <connectionStrings>
      <add name="Kitchen_OnlineConnectionString" connectionString="Data Source=DESKTOP-QMEMF76\SQLEXPRESS;Initial Catalog=Kitchen_Online;Integrated Security=True" providerName="System.Data.SqlClient" />
   </connectionStrings>
   <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  <httpHandlers>
			<!-- Register the HttpHandler used for BotDetect Simple API requests -->
			<add verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect" />
			
			<!-- Register the HttpHandler used for BotDetect Traditional API requests --> 
		
			<add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
			
		</httpHandlers><!-- Register a custom SessionIDManager for BotDetect Traditional API requests -->
		<sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" />
		<!-- Make sure Session State is enabled for using BotDetect Traditional API
		<pages enableSessionState="true">
		--><pages>
			<controls>
				<add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
			</controls>
		</pages></system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<!-- Register the HttpHandler used for BotDetect Simple API requests (IIS 7.0+) -->
			<remove name="BotDetectCaptchaHandler" />
			<add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="simple-captcha-endpoint.ashx" type="BotDetect.Web.SimpleCaptchaHandler, BotDetect" />

			<!-- Register the HttpHandler used for BotDetect Traditional API requests (IIS 7.0+) -->
			
			<remove name="BotDetectCaptchaHandler" />
			<add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
		
		</handlers>
	</system.webServer>
	<botDetect helpLinkEnabled="true" helpLinkMode="image" />
	  <runtime>
	     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	        <dependentAssembly>
	           <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
	           <bindingRedirect oldVersion="0.0.0.0-1.0.110.0" newVersion="1.0.110.0" />
	        </dependentAssembly>
	     </assemblyBinding>
	  </runtime>
</configuration>
